body{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	box-sizing:border-box;
}

h1{
	font-size:50px;
}

h4{
	font-size:30px;
}

header{
    height:100%;
	background-color:#D3D3D3;
	position:sticky;
	top:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	box-shadow:0 0 10px 2px #aaa;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:120px;
	padding-right:120px;
 	z-index:100;
}

#jeden{
	list-style:none;
	display:flex;
	gap:20px;
	align-items:center;
	justify-content:flex-end;
	gap:20px;
	
}

article{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:120px;
	padding-right:120px;
	font-size:20px;
	position:relative;
	display:fixed;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	float:left;
}

section{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:120px;
	padding-right:120px;
	font-size:20px;
	float:left;
}

